<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="studentService" class="com.fanhanfei.springdemo.impl.StudentServiceImpl">
        <property name="config" value="chenssy"/>
        <property name="age" value="10"/>
    </bean>
    <bean class="com.fanhanfei.springdemo.springbeans.BeanFactoryPostProcessor1"/>
    <bean class="com.fanhanfei.springdemo.springbeans.BeanFactoryPostProcessor2"/>
    <bean id="beanPostProcessorService" class="com.fanhanfei.springdemo.impl.BeanPostProcessorImpl">

    </bean>


</beans>