<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property resource="bootstrap.properties"/>
    <!-- set the logging path -->
    <property name="LOG_HOME" value="${log.home}"/>

    <!-- set the logging archive path -->
    <property name="LOG_ARCHIVE" value="${LOG_HOME}/archive"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.console.level}</level>
        </filter>
    </appender>


    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_ARCHIVE}/all.log.%i-%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_ARCHIVE}/error.log.%i-%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="wmsContentAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/wms_content.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_ARCHIVE}/wms_content_log/content.log.%i-%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>92</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="wmsContent" level="INFO" additivity="false">
        <appender-ref ref="wmsContentAppender"/>
    </logger>


    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="ERROR"/>
    </root>

</configuration>